body {
  margin: 0;
  padding: 0;
  min-width: 960px;

  font-family: 'Times New Roman';
  font-size: 16px;
  line-height: 32px;
  color: black;

  background-color: #060514;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center -40px;
  background-size: contain;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 0 0 15px;
}

.page-header .container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 15px;
}

.heading {
  margin: 0;
  font-size: 35px;
  line-height: 80px;
  color: #fea18d;
}

.intro {
  margin: 0;
  font-size: 20px;
  line-height: 80px;
  color: #fea18d;
}

.subheading {
  margin: 0 0 56px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

.portfolio-header {
  display: none;
}

.portfolio {
  margin: 0 0;  
}

.projects {
  margin: 0;
  padding: 100px 40px;
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: row-reverse;

  background-color: #fff4f2;
}

.project-item {
  position: relative;

  width: 300px;
  height: 420px;
  //height: 200px;

//  border: 10px solid #260c26;
//  border-radius: 0 40px;

  box-shadow: 0 0 10px rgba(0,0,0,0.45), inset 0 0 10px rgba(0,0,0,0.45);

  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;

  overflow: hidden;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.project-info {
  //display: none;
  display: flex;  

  position: absolute;
  left: 0;
  right: 0; 
  bottom: -100%;

  height: 100%;

  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.9);
  
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.5s ease;
}

.project-item:hover {
  cursor: pointer;
}

.project-item:hover .project-info{
  bottom: 0;  
}

.project-name {
  margin: 10px 0 0;
}

.project-details {
  margin: 0;
  padding-left: 20px;  
}
.project-details li {
  padding-bottom: 15px;
  color: white;

  font-size: 12px;
  line-height: normal;
}

.project-item-inprocess h3 {
  font-weight: normal;
}

.in-process {
  font-size: 21px;
  font-weight: bold;
  color: #e28b8b;
}

.project-buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  display: inline-block;

  padding: 4px 10px;
  border-radius: 10px;
  background-color: #39a6fa;  
  
  vertical-align: baseline;
  text-decoration: none;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
}

.button:hover {
  /*background-color: #fea18d;*/
  color: #000000;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #260c26;
}
.footer-bio {
  padding: 25px 40px;
  color: #fea18d;
}
.footer-contacts {
  padding: 40px;
  text-align: right;
}

.page-footer .container {
  max-width: 1440px;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer a {
  margin-right: ;
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}