body {
  margin: 0;
  padding: 0;
  min-width: 960px;

  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;

  background-color: #060514;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center -40px;
  background-size: contain;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 0 0 15px;
}

.page-header .container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 15px;
}

.heading {
  margin: 0;
  font-size: 35px;
  line-height: 80px;
  color: #fea18d;
}

.intro {
  margin: 0;
  font-size: 20px;
  line-height: 80px;
  color: #fea18d;
}

.subheading {
  margin: 0 0 56px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

.portfolio-header {
  text-transform: uppercase;
}

/*
.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #fea18d;
  border-radius: 6px;
}
*/

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.project-item {
  position: relative;

  width: 270px;
  height: 420px;

  border: 10px solid #260c26;
  border-radius: 0 40px;

  box-shadow: 0 0 10px rgba(0,0,0,0.45), inset 0 0 10px rgba(0,0,0,0.45);

  overflow: hidden;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.project-info {
  display: none;

  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;

  padding: 10px;
  background-color: rgba(0,0,0,0.65);
  
  flex-direction: column;
  justify-content: space-between;
}

.project-item:hover {
  cursor: pointer;
}

.project-item:hover .project-info{
  display: flex;  
}

.project-name {
  margin: 10px 0 0;
}

.project-details {
  margin: 0;
  padding-left: 20px;  
}
.project-details li {
  padding-bottom: 15px;

  font-size: 12px;
  line-height: normal;
}

.project-buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  display: inline-block;

  padding: 4px 10px;
  border-radius: 10px;
  background-color: #39a6fa;  
  
  vertical-align: baseline;
  text-decoration: none;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
}

.button:hover {
  /*background-color: #fea18d;*/
  color: #000000;
}

.page-footer {
  background-color: #260c26;
}

.page-footer .container {
  max-width: 1440px;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer a {
  margin-right: ;
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}